/*
** General
*/

body {

	padding-top: 60px;
}

#growls {

	top: 55px !important;
}

.clickable {
	
	cursor: pointer;
}

.red {

	color: red;
}

.red:hover {

	color: red;
}

.jumbotron {

	background: url('/img/geometry2.png');
}

/***************
** Navigation **
****************/

/*
** Navbar
*/

.navbar {

	color: #6D7A8B;
	background: #404852;
	min-height: 60px;
	border: 0;
}

.navbar .navbar-brand {

	color: white;
	background: #FF9F05;
	transition: 0.3s;
	-o-transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	padding: 20px 20px;
	height: 60px;
}

.navbar .navbar-form,
.navbar .navbar-btn {

	margin-top: 13px;
	margin-bottom: 13px;
}

.navbar-nav>li>a {

	padding-top: 20px;
	padding-bottom: 20px;
	transition: 0.3s;
	-o-transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
}

@media (max-width: 768px) {

	.navbar-nav>li>a {
		
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.navbar-nav>li>a.logout:hover {

	color: red;
}

.navbar .navbar-brand:hover {

	background: #EB9409;
}

/*
** Sidebar
*/

.sidebar {

	background: #323a44;
	top: 60px;
	padding-top: 0;
}

.sidebar li>a {

	height: 60px;
	font-size: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #939faf;
	border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid #2b333c;
    transition: 0.3s;
	-o-transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
}

.sidebar li>a span.fa {

	margin-right: 15px;
	font-size: 17px;
}

.sidebar li>a:hover,
.sidebar li>a:focus {

	background: #485361;
	color: white;
}

.sidebar li.active>a,
.sidebar li.active>a:hover,
.sidebar li.active>a:focus {

	background: #667180;
	border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid #2b333c;
}

/*
** Arena
*/

.arena .fight-type {

	text-align: center;
}